

.pic {
    float: left; 
    max-height: 25vh;
    width: auto;
    margin-right: 1%;  

}

.aboutContainer {
    margin: 2%;}

.technologies {
    font-weight: bold;
}

.projectDesc {
    font-style: italic;
}

.skillsHeaders {
    margin: 1%; 
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center; 
}